:root {
    --dark-color: #001F3F;
    --midtone-color: hsl(208, 83%, 19%);
    --light-color: #0D63A5;
    --accent-color: #FFD717;
    --white-color: #f1f1f1;
}
  

body{
    background-color: var(--dark-color);
    color: var(--white-color);
}

.navbar{
    text-align: center;
    background-color: var(--midtone-color);
}

.navbar-brand{
    font-weight: 600;
}

.navbar-nav .nav-item a{
    color: var(--white-color);
    font-weight: bold;
}

.navbar-nav .nav-item .active{
    color: var(--accent-color);
    font-weight: 900;
    text-decoration-line:underline;
}

.container{
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.btn-primary{
    background-color: var(--accent-color);
    color: var(--dark-color);
    border-color:var(--accent-color);
}

.btn-primary:hover{
    background-color: var(--light-color);
    color: var(--white-color);
    border-color:var(--light-color);
}

.skill_list{
    display: flex;
    flex-wrap: wrap;
}

.skill{
    background-color: var(--white-color);
    color: var(--dark-color);
}

.contact a{
    font-size: larger;
    text-decoration: none;
    color: var(--white-color);
}

.contact a:hover{
    color: var(--accent-color);
}

.head_detail{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.detail_project{
    flex-grow: 0;
}

.line{
    flex-grow: 1;
    height: 1px;
    background-color: var(--accent-color);
}

.head_projects{
    color: var(--white-color);
}
.head_projects:hover{
    color: var(--accent-color);
}

.title_project{
    color: var(--accent-color);
}

.multi-collapse .row .col{
    background-color: var(--midtone-color);
}

.carousel-control-prev {
    filter: invert(100%);
}
.carousel-control-next {
    filter: invert(100%);
}
.carousel-indicators{
    filter: invert(100%);

}


@media screen and (min-width: 991px) {
    .title{
        font-size: 80px;
        color: var(--white-color);
        font-weight: 700;
    }
    
    .subTitle{
        font-size: 50px;
        color: var(--accent-color);
        font-weight: 900;
    }

    .description{
        font-size: 20px;
        color: var(--white-color);
        font-weight: 200;
    }

    .skill{
        font-size: 20px;
        border-radius: 5px;
        padding: 10px 20px;
        margin: 10px 10px;
    }

    .head_projects{
        font-size: 50px;
        font-weight: 900;
    }

    .head_projects[aria-expanded=true] .icon_collapsed{
        display: none;
    }
    .head_projects[aria-expanded=false] .icon_expanded{
        display: none;
    }

    .title_project{
        font-size: 40px;
        font-weight: 700;
    }

    .description_project{
        font-size: 20px;
        font-weight: 700;
    }

    .head_detail{
        margin-top: 10px;
    }

    .detail_project{
        font-size: 12px;
        font-weight: 500;
        text-align: right;
    }

    .multi-collapse .row .col{
        margin: 10px;
        padding: 10px 20px;       
    }
}

@media screen and (max-width: 990px) {
    .title{
        font-size: 50px;
        color: var(--white-color);
        font-weight: 700;
    }
    
    .subTitle{
        font-size: 28px;
        color: var(--accent-color);
        font-weight: 900;
    }

    .description{
        font-size: 15px;
        color: var(--white-color);
        font-weight: 200;
    }

    .skill{
        font-size: 15px;
        border-radius: 5px;
        padding: 8px 15px;
        margin: 8px 8px;
    }

    .head_projects{
        font-size: 40px;
        font-weight: 900;
    }

    .head_projects[aria-expanded=true] .icon_collapsed{
        display: none;
    }
    .head_projects[aria-expanded=false] .icon_expanded{
        display: none;
    }

    .title_project{
        font-size: 40px;
        font-weight: 700;
    }

    .description_project{
        font-size: 20px;
        font-weight: 700;
    }

    .head_detail{
        margin-top: 10px;
    }

    .detail_project{
        font-size: 12px;
        font-weight: 500;
        text-align: right;
    }

    .multi-collapse .row .col{
        margin: 10px;
        padding: 10px 20px;       
    }
}

@media screen and (max-width: 767px) {
    .title{
        font-size: 40px;
        color: var(--white-color);
        font-weight: 700;
    }
    
    .subTitle{
        font-size: 22px;
        color: var(--accent-color);
        font-weight: 900;
    }

    .description{
        font-size: 15px;
        color: var(--white-color);
        font-weight: 200;
    }

    .skill{
        font-size: 15px;
        border-radius: 5px;
        padding: 8px 15px;
        margin: 8px 8px;
    }

    #list_projects{
        margin: 10px 5px;
    }

    .head_projects{
        font-size: 25px;
        font-weight: 900;
    }

    .head_projects[aria-expanded=true] .icon_collapsed{
        display: none;
    }
    .head_projects[aria-expanded=false] .icon_expanded{
        display: none;
    }

    .title_project{
        font-size: 20px;
        font-weight: 700;
    }

    .description_project{
        font-size: 15px;
        font-weight: 500;
    }

    /* .head_detail{
        margin-top: 10px;
    } */

    .detail_project{
        font-size: 10px;
        font-weight: 500;
        text-align: right;
    }

    .multi-collapse .row .col{
        margin: 10px;
        padding: 10px 20px;       
    }
}
